h1 {
  text-align: center;
}

.buttonDiv {
  text-align: center;
}

.title {
  color: black;
}

img {
  width: 300px;
  height: auto;
}

#photoDiv {
  text-align: center;
}

img:hover {
  width: 305px;
  height: auto;
}
